a:link {
    color: blueviolet;
}

a:visited {
    color: gray;
}

a:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[:required] {
    border: 3px solid red;
}

a:active {
    color: aqua;
}

input[required]:valid {
    background-color: blue;
}

input:invalid {
    background-color: gray;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}