/* general styles */
html {
    font-size: 12px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

.container {
    min-width: 380px;
}

h1,
h2,
h3,
h4 {
    font-weight: 800;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
    line-height: 2;
}

h3 {
    font-size: 2rem;
    line-height: 1.5;
}

h4 {
    font-size: 1.5rem;
}



button {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

img {
    max-width: 100%;
}

/* header style */

nav a {
    text-decoration: none;
    color: #c78c06;
}

.navigation {
    background-color: black;
    padding: 15px;
}

.logoarea {
    background-color: #c78c06;
    justify-content: center;
    padding: 20px;
}

.logo {
    display: block;
    align-self: center;
    margin: 0 auto;
}

.onlylogo {
    display: none;
}

.menu {
    text-align: center;
}

nav li {
    height: 50px;
    line-height: 50px;
}

/* set the first line color */
nav #home {
    background-color: #c78c06;
}

nav #home a {
    color: black;
}

/* search area */
.search {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.search input {
    width: 90%;
    height: 30px;
}

.search img {
    margin: auto;
    height: 32px;
}

/* banner area */
.banner {
    position: relative;
    width: 100%;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.banner-desktop {
    display: none;
}

.banner-mobile {
    display: none;
}

.banner-text {
    position: absolute;
    top: 10%;
    height: 70%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.banner-text h1 {
    line-height: 1.5;
}

.banner-text p {
    line-height: 1.5;
    padding: 20px 0;
}

.banner button {
    background-color: #c78c06;
    padding: 20px 10px;
    border: none;
    color: black;
    display: flex;
    align-items: center;
}

.banner button img {
    height: 25px;
}

/* about us area */
.about {
    background-color: #ffe6ac;
    padding: 15px;
}

.about p {
    padding-top: 10px;
}

.about-text {
    padding: 10px 0;
}

/* our services area */
.services {
    padding: 15px;
}

.card {
    background-color: #ffe6ac;
    margin-bottom: 15px;
}

.service-text {
    padding: 10px;
    background-color: #ffe6ac;
}

.services button {
    margin-top: 10px;
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
}

/* our vision area */
.vision {
    background-image: url(../assets/images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: 100%; */

}

.vision-text {
    padding: 15px;
    color: white;
}

.vision button {
    margin-top: 15px;
    padding: 15px;
    background-color: rgb(13, 13, 13, 0.3);
    color: white;
    border: 1px solid #c78c06;
}

/* our team area */
.team {
    padding: 15px;
}

.team-description {
    background-color: #ffe6ac;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.team img {
    width: 100%;
}

.team-description p {
    padding: 10px 0;
}

.line {
    height: 2px;
    background-color: #c78c06;
}


/* contact us area */
.contact {
    padding: 15px;
}

input {
    width: 99%;
    border: 1px solid black;
    border-radius: 3px;
}

#name,
#email {
    height: 20px;
}

#message {
    height: 120px;
}

.contactsheet div {
    padding-top: 8px;
    padding-bottom: 3px;
}

.contact button {
    background-color: black;
    color: #c78c06;
    font-weight: 500;
    margin-top: 20px;
}

/* business hours table */

.hours {
    padding: 10px 0
}

.hours h3 {
    padding: 10px 0;
}

.hours table {
    width: 100%;
    border: 1px solid black;
    font-weight: 500;
}

thead {
    background-color: #ffe6ac;
}

th {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

td {
    padding: 10px;
    border: 1px solid black
}

/* footer area */
footer {
    background-color: black;
    color: #c78c06;
    line-height: 2;
    padding: 15px;
}

footer a {
    color: #c78c06
}

/* ipad size starts here */
@media screen and (min-width:400px) {

    html {
        font-size: 14px;
    }

    .container {
        min-width: 614px;
    }

    .banner-mobile {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .banner-small {
        display: none;
    }


}

/* desktop version starts here */
@media screen and (min-width:760px) {

    html {
        font-size: 16px;
    }


    .container {
        min-width: 980px;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        width: 50%;
    }

    .menu ul {
        display: flex;
        justify-content: space-between;
    }

    .menu li {
        padding: 0 20px;
    }


    .logo {
        display: none;
    }

    .onlylogo {
        display: flex;
        position: relative;
        /* left: 60px; */
        left: 50%;
    }

    .logoarea {
        background-color: black;
        width: 10%;
    }

    .search {
        position: relative;
        right: 5%;
        width: 20%;
    }

    /* banner area  */
    .banner-mobile {
        display: none;
    }

    .banner-desktop {
        display: block;
        width: 100%;
    }

    .banner-text {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-rows: 2fr 1fr 2fr;

    }

    .banner-text h1 {
        grid-row: 1/3;
        align-self: center;
    }

    .banner-text p {
        grid-row: 3/4;
        align-self: center;
    }

    .banner-text button {
        grid-row: 4/6;
        align-self: center;
        padding: 2rem 1rem;
    }


    /* about us area */
    .about {
        display: flex;
        padding: 2% 10%;
        align-items: center;
    }

    .about img {
        width: 50%;
        height: fit-content;
        padding-right: 30px;
    }

    /* services area */

    .services {
        padding: 0 10%;
    }

    .cards {
        display: grid;
        gap: 10px;
        grid-template-areas:
            "dt dt dt mr mr mr"
            "vd vd we we pr pr";
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .cards div:nth-child(1) {
        grid-area: dt;
    }

    .cards div:nth-child(2) {
        grid-area: mr;
    }

    .cards div:nth-child(3) {
        grid-area: vd;
    }

    .cards div:nth-child(4) {
        grid-area: we;
    }

    .cards div:nth-child(5) {
        grid-area: pr;
    }

    .service-text {
        background-color: #ffe6ac;
    }

    /* our vision area */
    .vision {
        padding: 2% 10%;
    }

    .team {
        padding: 0 10%;
    }


    /* our team area */
    .teamgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "a b"
            "c d";
    }

    #member1 {
        grid-area: a;
    }

    #john {
        grid-area: b;
    }

    #luna {
        grid-area: c;
    }

    #member2 {
        grid-area: d;
    }

    .team-description {
        background-color: #ffe6ac;
        margin: 0;
    }



    /* contact and location area */

    .contact {
        padding: 0 10%;
    }

    .contactgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "a b"
            "c c";
    }

    .contactsheet {
        grid-area: a;
    }

    .location {
        grid-area: b;
    }

    .hours {
        grid-area: c;
    }

    .contactsheet input {
        width: 95%;
    }


    @media screen and (min-width:1200px) {
        html {
            font-size: 18px;
        }

        h1 {
            font-size: 4rem;
        }
    }


}